.Postformular {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
}

.RequestButton {
    background-color: #8dc7ff;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.RequestButton:hover {
    background-color: #a9d6ff;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.RequestButton:active {
    background-color: #8dc7ff;
    box-shadow: inherit;
    transform: translateY(4px);
    }