.Slide {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.Caption {
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 50px;
    padding: 0px 0px 7px 0px;
    overflow-y: auto;
}

.Caption p {
    color: white;
    width: 90%;
    margin: 0px 0px 0px 0px;
    padding: 7px 0 7px 0;
    /*background-color: #ffffff47;*/
    background-color: #fff6;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-line;
    position: absolute;
    top: 0;
    left: 5%;
}

/*
color: white;
    position: absolute;
    bottom: -16px;
    width: 100%;
    background-color: #ffffff47;
    padding: 7px 0px 7px 0px;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-line;
*/