/* Styling - Mobile Devices */
.LoginButton {
    margin: 2px 0;
    box-sizing: border-box;
    display: block;
    
    height: 100%;
    /*width: auto;*/
    width: 90%;
    align-items: center;
    float: right;
    cursor: pointer;
}

.LoginButton a {
    color: rgb(133, 132, 132);
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 100%;
    box-sizing: border-box;
    display: block;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 23px;
    font-weight: bold;
}

.LoginButton a:hover,
.LoginButton a:active,
.LoginButton a.active {
    background-color:  #fcfbfb;
    border-bottom: 3px solid #8dc7ff;
    color: black;
}

/* Styling - Desktop */
@media (min-width: 500px) {
    .LoginButton {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .LoginButton a {
        color: black;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .LoginButton a:hover,
    .LoginButton a:active,
    .LoginButton a.active {
        background-color:  #f8f8f8;
        border-bottom: 4px solid #8dc7ff;
        color: black;
    }
}