.leaflet-container {
    position: relative;
    height: 500px;
    width: 100%;
}

.popup-img {
    height: 77px;
    min-width: 138px;
    width: 100%;
    background: white;
    cursor: pointer;
}

.popup-sidedrawer {
    position: absolute;
    top: 4%;
    z-index: 1160;
    width: 50%;
    min-width: 215px;
    max-width: 450px;
    height: 90%;
    padding: 5px 10px 5px 10px;
    background-color: #fcfbfb;
    text-align: center;
    transition: transform 0.4s ease-out;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    overflow-y: auto;
}

.Open-popupSidedrawer {
    transform: translateX(3%);
}

.Close-popupSidedrawer {
    transform: translateX(-100%);
    /*display: none;*/
}

.popup-sidedrawer-zIndex {
    z-index: 1155;
    position: absolute;
}

.popup-sidedrawer-contentBox {
    background-color: white;
}

.toggleSidedrawerButton {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #8dc7ff;
    border: none;
    color: white;
    padding: 6px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.zoomButton {
    top: 5px;
    display: block;
}

.zoomButtonContrainer {
    position: absolute;
    background-color: #ffffffb5;
    z-index: 1155;
    right: 0;
    top: 0;
    margin: 5px 5px 0px 0px;
    padding: 10px 9px 10px 9px;
    border-radius: 3px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
}

.toggleSidedrawerButton:hover {
    background-color: #a9d6ff;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.toggleSidedrawerButton:active {
    background-color: #8dc7ff;
    box-shadow: inherit;
    transform: translateY(4px);
    }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    text-align: center;
}

.leaflet-popup-content {
    margin: 2px 5px 7px 7px;
}

.leaflet-popup-content p {
    font-family: 'Courier New', Courier, monospace;
    margin: 18px 0px 5px 0px;
}